* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9b4ed;
  /*for more palette we can see websites like coolers*/
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  font-size: 9vmin;
  color: #69155c;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: red;
  border-radius: 1rem;
}

#new-btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(75, 168, 87);
  border-radius: 1rem;
}

#msg {
  color: rgb(0, 0, 0);
  font-size: 7vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
