/* General Styles */
body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f9d4c3, #ff772d);
  color: #000000;
}

/* Navigation Bar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.navbar {
  background-color: #fb8100ff;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 0;
}

p {
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3.5rem; /* Space between the links */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #db5f23ff;
  font-size: 2rem;
  font-weight: bold;
}

.nav-logo {
  height: 90px; /* Increase the height of the logo */
  width: 80px; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between the logo and the text */
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: black;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

/* courses */
.image-container {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
img {
  height: 500px;
  width: 800px;
}

/* Footer */
footer {
  color: black;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

footer p {
  font-size: 20px;
}
